@font-face {
    font-family: "Karrik";
    src: url("assets/Karrik-Regular.ttf") format("ttf"), 
        url("assets/Karrik-Regular.woff") format("woff"),
        url("assets/Karrik-Regular.woff2") format("woff2");
}

@font-face {
    font-family: 'Avara';
    src:    url('assets/fonts/Avara/Bold/Avara-Bold_web.eot');
    src:    url('assets/fonts/Avara/Bold/Avara-Bold_web.eot?#iefix') format('embedded-opentype'),
            url('assets/fonts/Avara/Bold/Avara-Bold_web.woff') format('woff'),
            url('assets/fonts/Avara/Bold/Avara-Bold_web.woff2') format('woff2'),
            url('assets/fonts/Avara/Bold/Avara-Bold_web.ttf') format('truetype'),
            url('assets/fonts/Avara/Bold/Avara-Bold_web.svg#svgFontName') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HappyTimes';
    src:    url('assets/fonts/HappyTimes/happy-times-NG_bold_master_web.woff');
    src:    url('assets/fonts/HappyTimes/happy-times-NG_bold_master_web.woff2') format('woff2'),
            url('assets/fonts/HappyTimes/happy-times-NG_bold_master_web.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;